body {
    margin: 0;
    padding: 0;
    background: linear-gradient(220.55deg, #00E0EE 0%, #AD00FE 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#display{
    position: absolute;
    font-size: 4rem;
    font-family: monospace;
    color: #ffffff;
    text-shadow: 2px 2px 5px #28282880;
}

#controls {
    margin-top: 10em;
    display: flex;
    gap: 2em;
}

#controls button {
    width: 177.5px;
    height: 35px;
    border-radius: 10px;
    
    cursor: pointer;
    font-weight: bold;

    box-shadow: 2px 2px 20px #28282880;;
}

#start {
    border: none;
    background-color: #FFFFFF;
    color: #7315ff;
}

#start:hover{
    
    border: solid 2px #ffffff; 
    background-color: transparent;
    color: #ffffff;
}

#start:active{
    background-color: #f1f1f1;
    color: #7315ff;
}

#reset {
    border: solid 2px #FFFFFF;
    background-color: transparent;
    color: #ffffff;
}

#reset:hover{
    border: none;
    background-color: #FFFFFF;
    color: #7315ff;
}

#reset:active{
    border: solid 2px #FFFFFF;
    background-color: transparent;
    color: #ffffff;
}